@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
  background-color: #2A2A2A;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

p { 
  font-size: 16px;
  padding: 10px 50px;
  color: #fff;
}

.p-main{
  background-color: #111;
  padding: 7px;
  border-radius: 10px;
  font-weight: bold;
}

h1 {
  margin: 0;
  font-size: 40px;
  color: #AB7F36;
  background-color: #111;
  color: #0E77A7;
  padding: 15px;
  border-radius: 2spx;
}

h2 {
  font-size: 30px;
  color: #fff;
}

h4{
  font-size: 18px;
  color: #fff;
}

h5{
  font-size: 15px;
  color: #fff;
  text-decoration: underline;
  padding: 30px;
  padding-bottom: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

.logo {
  width: 90px;
  padding: 10px;
  padding-left: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

header nav ul li {
  display: inline-block;
  padding: 31px 30px 10px 10px;
}

a {
  color: #fff;
  text-decoration: none;
  
}

a:hover {
 background-color: #0E77A7;
 padding: 7px;
 border-radius: 5px;
 transition: .5s;
}

.main {
  background-image: url(./images/background.jpg);
  background-size: cover;
  background-position: center;
  height: 92vh;
  text-align: center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  text-align:center;
  padding:0 20px;
}

.footer-main{
  position: absolute;
  right: 0;bottom:0;left:0;
  margin: 100px;
  padding: 13px;
}

.services {
  margin: 100px;
}

.services-content {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  padding: 50px;
  padding-top: 0px;
  padding-bottom: 80px;
}

div.About.Us{
  background-color: #0E77A7;
  padding: 5px;
  padding-bottom: 20px;
}

div .Our.Mission { 
margin-top: 20px;
padding: 20px 20px 0px 20px;
}

div .Our.Vision {
  margin-top: 20px;
  padding: 20px;
  padding-bottom: 50px;
}

#Quality {
  background-color: #0E77A7;
  padding: 5px;
  line-height: 200%;
  margin: 0;
}

.footer-container {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  padding: 100px;
}

.social-icon {
  display: inline-block; 
  margin: 0 10px
}


@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(60px);
	}
}

svg #wheel {
	animation: scroll ease 2s infinite;
}